{% extends "base.html" %}

{% block content %}

<h3>List of Rooms</h3>

  {% if rooms %}
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Description</th>
            <th>Amenities</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr >
            {% for r in rooms %}
            <td>{{ r.id }}</td>
            <td>{{ r.type }}</td>
            <td>{{ r.capacity }}</td>
            <td>{{ r.description }}</td>

            <td>
                {% for a in r.amenities %}
                {{ a.name }}<br/>
                {% endfor %}
            </td>

            {% if logged_in %}
            <th><a href="{{url_for('room_page', id=r.id)}}">View Room</a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% else %}
<p>There are no available rooms</p>
  {% endif %}
{% endblock %}